---
import MultiSelectFilter, { Props as MultiSelectFilterProps } from '~/components/widgets/MultiSelectFilter.astro';
import { SpotEnvironment } from '~/stores/spotFilters.store';

const filters: MultiSelectFilterProps[] = [
  {
    label: 'Age',
    name: 'age',
    options: [
      { label: '0-5', value: '0:5' },
      { label: '6-11', value: '6:11' },
      { label: '12-15', value: '12:15' },
      { label: '16+', value: '16:' },
    ],
  },
  {
    label: 'Environment',
    name: 'environment',
    options: [
      { label: 'Indoors', value: SpotEnvironment.Indoors },
      { label: 'Outdoors', value: SpotEnvironment.Outdoors },
    ],
  },
];
---

<section aria-labelledby="filter-heading" class="border-t border-gray-200 py-6" data-component="SpotsFilterBar">
  <h2 id="filter-heading" class="sr-only">Product filters</h2>

  <div class="flex items-center justify-end">
    <button type="button" class="inline-block text-sm font-medium text-gray-700 hover:text-gray-900 sm:hidden"
      >Filters</button
    >

    <div class="hidden sm:flex sm:items-baseline sm:space-x-8">
      {filters.map((filter) => <MultiSelectFilter {...filter} />)}
    </div>
  </div>
</section>
