---
import Layout from '~/layouts/PageLayout.astro';
import Headline from "~/components/ui/Headline.astro";
import { Image } from '@astrojs/image/components';
import fifiAndMomImage from '~/assets/images/fifi-and-mom.jpg';
import fifiAndDadImage from '~/assets/images/fifi-and-dad.jpg';
import wholeFamilyImage from '~/assets/images/whole-family.jpg';

const metadata = {
  title: 'About us',
};
const familyPhotos = [
  {
    src: fifiAndMomImage,
    alt: 'Fifi and mom',
    cssClass: 'rotate-[5deg] z-10',
  },
  {
    src: fifiAndDadImage,
    alt: 'Fifi and dad',
    cssClass: '-rotate-[7deg] -mt-16',
  },
  {
    src: wholeFamilyImage,
    alt: 'Whole family',
    cssClass: 'rotate-[1deg]',
  },
];
---

<Layout metadata={metadata}>
  <div class="relative px-4 md:px-6 py-12 md:py-16 lg:py-20 text-default max-w-screen-xl mx-auto">
    <Headline title="We are parents too!">
      <p slot="subtitle">
        At FunWithKids.ch, we're parents on a mission. We understand the importance of creating cherished moments with
        our children. Our goal? To empower parents to strengthen their bonds with their kids through joyful adventures.
        We curate a handpicked selection of enchanting destinations across Switzerland, igniting a sense of wonder and
        exploration in young hearts. Our platform is a guide, a friend, and a partner in crafting unforgettable family
        experiences. Join us in weaving the tapestry of memories, as we invite kids and parents alike to embark on a
        journey of discovery, laughter, and love amidst the breathtaking beauty of Switzerland.
      </p>

    </Headline>

    <div class="flex justify-items-center mt-36">
      {
        familyPhotos.map((photo) => (
          <div class={[photo.cssClass, 'w-1/3'].join(' ')}>
            <Image alt={photo.alt} src={photo.src} />
          </div>
        ))
      }
    </div>
  </div>
</Layout>
