---
import PageLayout from "~/layouts/PageLayout.astro";
import AddSpotForm from "~/components/widgets/AddSpotForm.astro";
import Headline from "~/components/blog/Headline.astro";
---

<PageLayout>
  <Headline 
    title="Add a new spot"
    subtitle="Join the Adventure: Share Your Hidden Gems on FunWithKids.ch and Spread the Joy!"
  />

  <div class="mx-auto max-w-3xl">
    <AddSpotForm />
  </div>
</PageLayout>

