---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import { headerData } from '~/navigation';
import { SpotsMap } from '~/components/widgets/spots/SpotsMap';
import { SpotsList } from '~/components/widgets/spots/SpotsList';
import { SpotsFilterBar } from '~/components/widgets/spots/SpotsFilterBar';
---

<script>
  import { $spots } from '~/stores/spots.store';
  import { $spotFilters } from '~/stores/spotFilters.store';
  import { supabaseClient } from '~/services/supabase';
  import debounce from 'lodash-es/debounce';

  function updateSpots() {
    let spotsQuery = supabaseClient.from('spots').select(`
        *,
        spot_attractions (
          name,
          type,
          age_from,
          age_to
        )
      `);

    const filters = $spotFilters.get();
    filters.amenities?.forEach((amenity) => {
      spotsQuery = spotsQuery.is(amenity, true);
    });
    if (filters.query) {
      spotsQuery = spotsQuery.ilike('name', `%${filters.query}%`);
    }

    spotsQuery.then(({ data: spots, error }) => {
      if (error) {
        console.error(error);
        return;
      }

      console.log(spots);
      $spots.set(spots);
    });
  }

  $spotFilters.subscribe(debounce(updateSpots, 500));
</script>

<Layout>
  <div class="h-screen flex flex-col">
    <Header {...headerData} />

    <div class="border-b border-gray-200 px-8">
      <SpotsFilterBar client:only="react" />
    </div>

    <div class="grow flex flex-row">
      <div class="lg:w-1/3">
        <SpotsList client:only="react" />
      </div>
      <div class="grow flex flex-col">
        <SpotsMap client:only="react" className="grow" />
      </div>
    </div>
    <div></div>
  </div>
</Layout>
