---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import { headerData } from '~/navigation';
import { SpotsApp } from '~/components/widgets/spots/SpotsApp';
---

<Layout>
  <div class="h-screen flex flex-col">
    <Header {...headerData} />

    <SpotsApp client:only="react" />
  </div>
</Layout>
